{{render "header"}}

<div id="layout-section">
    <div id="layout-top">
	
     	<div class="wrapper">
			<ul class="service-bar">
				<li class="service-cell service-home"><a href="http://r3v.org/" title="r3v.org Home">&nbsp;</a></li>
					<li class="service-cell service-welcome">
														<a href="http://r3v.org/user/login">Log in</a> or <a href="http://r3v.org/user/register">Create an Account</a>
												</li>
				<li class="service-cell service-account"><a href="http://r3v.org/404" class="service-link">Account</a></li>
				<li class="service-cell service-support service-support-enhanced">
					<a href="#support" class="service-link service-link-dropdown" tabindex="50" accesskey="4" id="support-link" style="cursor: pointer;" rel="javascript">Support<span class="no-support-tickets" id="support-ticket-count"></span></a>
					<div class="support-menu" id="support-menu" style="display:none;">
						<div class="support-primary">
							<ul class="support-nav">
								<li>
									<a href="http://r3v.org/support" tabindex="55" class="support-category" id="support-nav-kb">
										<strong class="support-caption">Knowledge Center</strong>
										Browse our support articles
									</a>
								</li>
								<li>
									<a href="http://r3v.org/404/support/ticket/status" tabindex="55" class="support-category" id="support-nav-tickets">
										<strong class="support-caption">Your Support Tickets</strong>
											View your active tickets (login required).
									</a>
								</li>
							</ul>
							<span class="clear"><!-- --></span>
						</div>
						<div class="support-secondary"></div>
					</div><!-- /support-menu -->
				</li>

			<li class="service-cell service-explore">
				<a href="#explore" tabindex="50" accesskey="5" class="dropdown" id="explore-link" style="cursor: pointer;" rel="javascript">Explore</a>

				<div class="explore-menu" id="explore-menu" style="display:none;">
					<div class="explore-primary">
						<ul class="explore-nav">
								<li>
									<a href="http://r3v.org/404" tabindex="55">
										<strong class="explore-caption">r3v Front Page</strong>
									</a>
								</li>
								<li>
									<a href="http://r3v.org/404" tabindex="55">
										<strong class="explore-caption">Account</strong>
									</a>
								</li>
								<li>
									<a href="http://r3v.org/404" tabindex="55">
										<strong class="explore-caption">Support</strong>
									</a>
								</li>
									<li>
										<a href="http://r3v.org/404" tabindex="55">
											<strong class="explore-caption">Buy Games</strong>
										</a>
									</li>
						</ul>

						<div class="explore-links">
							<h2 class="explore-caption">More</h2>

							<ul>
									<li><a href="http://r3v.org/404" tabindex="55">What is r3v.org</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Parental Controls</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Account Security</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Add a Game</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Can’t log in?</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Game Client Downloads</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Redeem Promo Codes</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Classic Games</a></li>
							</ul>
						</div>

	<span class="clear"><!-- --></span>
					</div>
					<ul class="explore-secondary">
							<li class="explore-game explore-game-sc2">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">StarCraft®&nbsp;II</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-wow">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">World of Warcraft®</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-d3">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">Diablo®&nbsp;III</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-hs">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">Hearthstone™</strong>
									</span>
								</a>
							</li>
					</ul>
										<ul class="explore-secondary">
							<li class="explore-game explore-game-sc2">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">StarCraft®&nbsp;II</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-wow">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">World of Warcraft®</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-d3">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">Diablo®&nbsp;III</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-hs">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">Hearthstone™</strong>
									</span>
								</a>
							</li>
					</ul>
				</div>
			</li>
		</ul>
				
				<div id="warnings-wrapper">

					<!--[if lt IE 8]>
						<div id="browser-warning" class="warning warning-red">
							<div class="warning-inner2">
								<a href="#close" class="warning-close" onclick="App.closeWarning('#browser-warning', 'browserWarning'); return false;"></a>
								You are using an outdated web browser.
								<span>(<a href="http://r3v.org/support/article/browserupdate">Update</a>)</span>
							</div>
						</div>
					<![endif]-->
					<noscript>
						&lt;div id="javascript-warning" class="warning warning-red"&gt;
							&lt;div class="warning-inner2"&gt;
								JavaScript must be enabled to use this site.
							&lt;/div&gt;
						&lt;/div&gt;
					</noscript>
				</div> <!-- /Warnings-wrapper-->
			</div> <!-- /wrappper -->
	
	</div>
	<div id="layout-middle">
        <div class="wrapper">
		
<div id='main-outlet'>
  {{outlet}}
  {{render "user-card"}}
</div>

{{#if showFooter}}
  {{custom-html "footer"}}
{{/if}}


	 </div>
	</div>

    <div id="layout-bottom">
            <div class="wrapper">
				<div id="footer">
				</div>
            </div>
    </div>
</div>

{{render "modal"}}
{{render "topic-entrance"}}
{{render "composer"}}