{{render "header"}}

<div id="layout-section">
    <div id="layout-top">
	</div>
	<div id="layout-middle">
        <div class="wrapper">
		
<div id='main-outlet'>
  {{outlet}}
  {{render "user-card"}}
</div>

{{#if showFooter}}
  {{custom-html "footer"}}
{{/if}}


	 </div>
	</div>

    <div id="layout-bottom">
            <div class="wrapper">
				<div id="footer">
				</div>
            </div>
    </div>
</div>

{{render "modal"}}
{{render "topic-entrance"}}
{{render "composer"}}