<div id="layout-section">
    <div id="layout-top">
     	<div class="wrapper">
			<ul class="service-bar">
				<li class="service-cell service-home"><a href="http://r3v.org/" title="r3v.org Home">&nbsp;</a></li>
					<li class="service-cell service-welcome">
														<a href="http://r3v.org/user/login">Log in</a> or <a href="http://r3v.org/user/register">Create an Account</a>
												</li>
				<li class="service-cell service-account"><a href="http://r3v.org/404" class="service-link">Account</a></li>
				<li class="service-cell service-support service-support-enhanced">
					<a href="#support" class="service-link service-link-dropdown" tabindex="50" accesskey="4" id="support-link" style="cursor: pointer;" rel="javascript">Support<span class="no-support-tickets" id="support-ticket-count"></span></a>
					<div class="support-menu" id="support-menu" style="display:none;">
						<div class="support-primary">
							<ul class="support-nav">
								<li>
									<a href="http://r3v.org/support" tabindex="55" class="support-category" id="support-nav-kb">
										<strong class="support-caption">Knowledge Center</strong>
										Browse our support articles
									</a>
								</li>
								<li>
									<a href="http://r3v.org/404/support/ticket/status" tabindex="55" class="support-category" id="support-nav-tickets">
										<strong class="support-caption">Your Support Tickets</strong>
											View your active tickets (login required).
									</a>
								</li>
							</ul>
							<span class="clear"><!-- --></span>
						</div>
						<div class="support-secondary"></div>
					</div><!-- /support-menu -->
				</li>

			<li class="service-cell service-explore">
				<a href="#explore" tabindex="50" accesskey="5" class="dropdown" id="explore-link" style="cursor: pointer;" rel="javascript">Explore</a>

				<div class="explore-menu" id="explore-menu" style="display:none;">
					<div class="explore-primary">
						<ul class="explore-nav">
								<li>
									<a href="http://r3v.org/404" tabindex="55">
										<strong class="explore-caption">r3v Front Page</strong>
									</a>
								</li>
								<li>
									<a href="http://r3v.org/404" tabindex="55">
										<strong class="explore-caption">Account</strong>
									</a>
								</li>
								<li>
									<a href="http://r3v.org/404" tabindex="55">
										<strong class="explore-caption">Support</strong>
									</a>
								</li>
									<li>
										<a href="http://r3v.org/404" tabindex="55">
											<strong class="explore-caption">Buy Games</strong>
										</a>
									</li>
						</ul>

						<div class="explore-links">
							<h2 class="explore-caption">More</h2>

							<ul>
									<li><a href="http://r3v.org/404" tabindex="55">What is r3v.org</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Parental Controls</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Account Security</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Add a Game</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Can’t log in?</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Game Client Downloads</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Redeem Promo Codes</a></li>
									<li><a href="http://r3v.org/404" tabindex="55">Classic Games</a></li>
							</ul>
						</div>

	<span class="clear"><!-- --></span>
					</div>
					<ul class="explore-secondary">
							<li class="explore-game explore-game-sc2">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">StarCraft®&nbsp;II</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-wow">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">World of Warcraft®</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-d3">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">Diablo®&nbsp;III</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-hs">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">Hearthstone™</strong>
									</span>
								</a>
							</li>
					</ul>
										<ul class="explore-secondary">
							<li class="explore-game explore-game-sc2">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">StarCraft®&nbsp;II</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-wow">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">World of Warcraft®</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-d3">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">Diablo®&nbsp;III</strong>
									</span>
								</a>
							</li>
							<li class="explore-game explore-game-hs">
								<a href="http://r3v.org/404" tabindex="55">
									<span class="explore-game-inner">
									<strong class="explore-caption">Hearthstone™</strong>
									</span>
								</a>
							</li>
					</ul>
				</div>
			</li>
		</ul>
				
				<div id="warnings-wrapper">

					<!--[if lt IE 8]>
						<div id="browser-warning" class="warning warning-red">
							<div class="warning-inner2">
								<a href="#close" class="warning-close" onclick="App.closeWarning('#browser-warning', 'browserWarning'); return false;"></a>
								You are using an outdated web browser.
								<span>(<a href="http://r3v.org/support/article/browserupdate">Update</a>)</span>
							</div>
						</div>
					<![endif]-->
					<noscript>
						&lt;div id="javascript-warning" class="warning warning-red"&gt;
							&lt;div class="warning-inner2"&gt;
								JavaScript must be enabled to use this site.
							&lt;/div&gt;
						&lt;/div&gt;
					</noscript>
				</div> <!-- /Warnings-wrapper-->
			</div> <!-- /wrappper -->
		
	</div>
	<div id="layout-middle">
        <div class="wrapper">
<div class='container'>
  {{custom-html "top"}}
  {{global-notice}}
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<div class='list-controls'>
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

{{conditional-loading-spinner condition=loading}}

<div {{bind-attr class=":container :list-container loading:hidden"}}>
  <div class="row">
    <div class="full-width">
      <div id='header-list-area'>
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="full-width">
      <div id='list-area'>
        {{plugin-outlet "discovery-list-container-top"}}
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
</div>



	 </div><!-- /wrapper -->
	 </div><!-- /layout-middle-->

    <div id="layout-bottom">
            <div class="wrapper">
				<div id="footer">
					<div id="footer-sitemap">
						<div id="footer-links">
							<div class="link-section">
								<h3 class="bnet">
									<a href="http://stomped.us/" tabindex="100">Sections</a>
								</h3>
								<a href="http://stomped.us/">General News</a>
								<a href="http://stomped.us/what-is/">Counter-Strike</a>
								<a href="http://stomped.us/what-is/">Starcraft II</a>
								<a href="http://stomped.us/what-is/">Torch Light</a>
								<a href="http://stomped.us/what-is/">World Of Warcraft</a>
							</div>
							<div class="link-section">
								<h3 class="games">
									<a href="http://stomped.us/">Network</a>
								</h3>
							<a href="http://stomped.us/">Stomped</a>
							<a href="http://stomped.us/">United Admins</a>
							<a href="http://stomped.us/">Team r3volution</a>
							<a href="http://stomped.us/">TheAOW Gaming Community</a>
						</div>
							<div class="link-section">
							<h3 class="Support">
								<a href="http://stomped.us">Support</a>
							</h3>
							<a href="http://stomped.us/">Frequently Asked Questions</a>
							<a href="http://stomped.us/">Request Assistance</a>
							<a href="http://stomped.us/">Feedback &amp; Suggestions</a>
							<a href="http://stomped.us/">Bug Reports</a>
						</div>
							<div class="link-section">
							<h3 class="support">
								<a href="http://stomped.us/">Follow Us</a>
							</h3>
							<a href="http://stomped.us/">Steam</a>
							<a href="http://stomped.us/">Twitter</a>
							<a href="http://stomped.us/">Facebook</a>
							<a href="http://stomped.us/">IRC</a>
						</div>
							<span class="clear"><!-- --></span>
							<center>
								<p>Theme modeled after Battle.net ©1998-2012 Blizzard Entertainment, Inc. All rights reserved.</p></br>
								<p>World of Warcraft, Battle.net, Diablo, StarCraft and Blizzard Entertainment</p>
								<p>are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.</p>
								<p>This website is in no way related to World of Warcraft, Blizzard Entertainment, Inc. or any of its associates and partners.</p>
							</center>
						</div><!--footer-links -->
					</div><!--footer-sitemap-->
				</div><!--/footer -->
            </div>
        </div>